body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.websiteData {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.info{
  width: 700px;
  height: 600px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
}

.buttonData {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonData:disabled{
  background-image: linear-gradient(92.88deg, #000000 9.16%, #000000 43.89%, #000000 64.72%);
}

.buttonData:enabled{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
}

.buttonData:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.factData{
  padding-left: 14%;
  padding-top: 1%;
  padding-right: 12%;
  font-size: 18px;
  font-weight: bold;
}

.imgData{
  border-radius: 5%;
  width:600px;
  height:400px;
  bottom:2%;
  position: absolute;
}
.specificToImage{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width:600px;
  height:400px;
}

.specificToImage::before {
  content: "";
  position: absolute; 
  inset: 0px;
  background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  filter: blur(10px);
  transform: translate3d(6px,1px,-1px);
  border-radius: inherit;
  pointer-events: none;
}